/* Style untuk body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Style untuk sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .sidebar ul li a:hover {
    color: #ccc;
  }
  
  /* Style untuk main content */
  .main-content {
    margin-left: 200px;
    padding: 20px;
  }
  
  .main-content h1 {
    margin-bottom: 20px;
  }
  
  /* Style untuk tabel */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  